<launch>
  <arg name="track_arm_server_flags" default="-s -v"/>
  <arg name="simulate_mouth" default="false"/>
  <arg name="use_sim_time" default="false"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <node name="track_arm_service" pkg="ada_tutorial" type="track_arm_server.py" args="$(arg track_arm_server_flags)"/>
  <node name="spoon_feeder" pkg="ada_tutorial" type="spoon_feeder.py"/> 
  <node name="dummy_mouth_publisher" pkg="ada_tutorial" type="dummy_mouth_publisher.py" if="$(arg simulate_mouth)"/>

</launch>
