<launch>
  <!--<param name="use_sim_time" value="true" />-->
  <arg name="track_arm_server_flags" default="-s -v"/>
  <arg name="fast_planner_flags" default=""/>

  <node name="track_arm_service" pkg="ada_tutorial" type="track_arm_server.py" args="$(arg track_arm_server_flags)"/>
  <node name="fast_planner" pkg="ada_tutorial" type="fast_planner.py" args="$(arg fast_planner_flags)"/>
</launch>
